<div class="container">
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="#">
            <strong>CPSC1517</strong>
        </a>
    </nav>
</div>

