@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}

@section pagetitle{
    <span style="font-size:x-large"><strong> Razor sample </strong></span>
}
<div>
    <h1 class="font-italic"> Melleisha Dwyer, melleisha.dwyer@gmail.com </h1>
</div>